SERVER_PORT=8086
SERVER_HOST=0.0.0.0
DATABASE_URL=postgres://wallet:wallet_secret@localhost:5432/wallet_db?sslmode=disable
NATS_URL=nats://localhost:4222
AUTH_GRPC_ADDR=localhost:50051
PAYMENT_SERVICE_URL=http://localhost:8083
WALLET_MIN_TOPUP=10000
WALLET_MAX_TOPUP=50000000
WALLET_MAX_BALANCE=200000000
