# Application
APP_NAME=tafu-profile
NODE_ENV=development
PORT=3002
API_PREFIX=api/v1
CORS_ORIGIN=*
DEBUG=true
INTERNAL_SERVICE_KEY=your-internal-service-key

# MongoDB
MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=tafu_profile
MONGODB_CONNECT_TIMEOUT=10s
MONGODB_MAX_POOL_SIZE=100
MONGODB_MIN_POOL_SIZE=10

# NATS
NATS_URL=nats://localhost:4222
