# Server Configuration
SERVER_PORT=3000

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=tafu_review

# Redis Configuration
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0

# gRPC Configuration
ORDER_SERVICE_ADDR=localhost:50051
